version: '3.8'

services:
  backend:
    build: ./backend
    ports:
      - "8000:8000"
    volumes:
      # - /DATA/Downloads/HDM:/app/downloads/HDM   // for casaOS
      - ./downloads/HDM:/app/downloads/HDM
    environment:
      - DOWNLOAD_DIR=/app/downloads/HDM
    restart: always

  frontend:
    build:
      context: ./frontend
      args:
        - NEXT_PUBLIC_API_URL=http://localhost:8000/api # change this to your backend url
    ports:
      - "3000:3000"
    depends_on:
      - backend
    restart: always
